@*
生成者：
生成时间：2022-02-18 11:20:55
代码由代码生成器自动生成，更改的代码可能被进行替换
界面如需更改，建议直接将内容剪切到自己的文件内，保留此空白文件
Caviar ©2021 Created by 北音执念
{EntityDisplayName} Data Template
*@
@page "/SysUserGroup/CreateEntity"
@page "/SysUserGroup/UpdateEntity"
@inherits DataComponentBase<SysUserGroupView,SysUserGroup>

<Form @ref="_meunForm" 
    LabelColSpan="6"
    WrapperColSpan="16"
    Model="@DataSource" 
    OnFinish="FormSubmit" 
    ValidateMode="@FormValidateMode.Rules" 
    ValidateOnChange="true">
    <CavFormItem  FieldName='Name' FieldRules='@context.Entity'>
        <Input DebounceMilliseconds="-1"@bind-Value='@context.Entity.Name' />
    </CavFormItem>
    <CavFormItem FieldName="Upper directory">
        <Dropdown>
            <Overlay>
                <Tree DataSource="UserGroups"
                      TitleExpression="x => x.DataItem.Entity.Name"
                      ChildrenExpression="x => x.DataItem.Children"
                      IsLeafExpression="x => x.DataItem.Children?.Count == 0"
                      KeyExpression="x => x.DataItem.Id.ToString()"
                      OnClick='e=>EventRecord(e)'
                      TItem="SysUserGroupView">
                </Tree>
            </Overlay>
            <ChildContent>
                <Button OnClick="RemoveRecord">@ParentMenuName</Button>
            </ChildContent>
        </Dropdown>
    </CavFormItem>
    <CavFormItem  FieldName='IsDisable' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.IsDisable'/>
    </CavFormItem>
    <CavFormItem  FieldName='Number' FieldRules='@context.Entity'>
        <Input DebounceMilliseconds="-1" @bind-Value='@context.Entity.Number' />
    </CavFormItem>
    <CavFormItem  FieldName='Remark' FieldRules='@context.Entity'>
        <TextArea Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.InputRemark}"]"  AllowClear="true" @bind-Value="@context.Entity.Remark" />
    </CavFormItem>
</Form>