@page "/ApplicationUser/ChangePassword"

<Form 
    @ref="_Form" 
    LabelColSpan="6"
    WrapperColSpan="16"
    Model="@ChangePasswordModel" 
    ValidateMode="@FormValidateMode.Rules" 
    ValidateOnChange="true">
    <CavFormItem FieldName="OldPassword" FieldRules='@context'>
        <InputPassword DebounceMilliseconds="-1" @bind-Value='@context.OldPassword' Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.CurrentPassword}"]"/>
    </CavFormItem>
    <CavFormItem FieldName="NewPassword" FieldRules='@context'>
        <InputPassword DebounceMilliseconds="-1" @bind-Value='@context.NewPassword' Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.NewPassword}"]" />
    </CavFormItem>
    <CavFormItem FieldName="ConfirmPassword" FieldRules='@context' ValidateStatus="ValidateStatus">
        <InputPassword DebounceMilliseconds="-1" @bind-Value='@context.ConfirmPassword' Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.ConfirmPassword}"]"/>
    </CavFormItem>
</Form>