@page "/ApplicationUser/ChangePassword"

<Form 
    @ref="_Form" 
    LabelColSpan="6"
    WrapperColSpan="16"
    Model="@ChangePasswordModel" 
    ValidateMode="@FormValidateMode.Rules" 
    ValidateOnChange="true">
    <CavFormItem FieldName="OldPassword" FieldRules='@context'>
        <InputPassword @bind-Value='@context.OldPassword' Placeholder="请输入当前密码"/>
    </CavFormItem>
    <CavFormItem FieldName="NewPassword" FieldRules='@context'>
        <InputPassword @bind-Value='@context.NewPassword' Placeholder="请输入新的密码" />
    </CavFormItem>
    <CavFormItem FieldName="ConfirmPassword" FieldRules='@context' ValidateStatus="ValidateStatus">
        <InputPassword @bind-Value='@context.ConfirmPassword' Placeholder="请输入确认密码"/>
    </CavFormItem>
</Form>