@*
    生成者：admin
    生成时间：2021/6/23 18:05:16
    代码由代码生成器自动生成，更改的代码可能被进行替换
    界面如需更改，建议直接将内容剪切到自己的文件内，保留此空白文件
    用户数据模板
*@
@page "/User/Add"
@page "/User/Update"
@using Caviar.SharedKernel
@inherits DataComponentBase<ViewUser>
@namespace Caviar.AntDesignUI.Pages.User

<Form @ref="_meunForm" Model="@DataSource" OnFinish="FormSubmit">
    <FormItem Label='用户名'>
        <Input @bind-Value='@context.UserName' Style='width:50%' />
    </FormItem>
    <FormItem Label='密码' Style="display: none;">
        <Input @bind-Value='@context.Password' Style='width:50%' />
    </FormItem>
    <FormItem Label='手机号码'>
        <Input @bind-Value='@context.PhoneNumber' Style='width:50%' />
    </FormItem>
    <FormItem Label='邮箱地址'>
        <Input @bind-Value='@context.EmailNumber' Style='width:50%' />
    </FormItem>
    <FormItem Label='部门'>
        <Dropdown>
            <Overlay>
                <Tree ShowIcon DataSource="ViewUserGroups"
                      TitleExpression="x => x.DataItem.Name"
                      ChildrenExpression="x => x.DataItem.Children"
                      IsLeafExpression="x => x.DataItem.Children?.Count == 0"
                      KeyExpression="x => x.DataItem.Id.ToString()"
                      OnClick='e=>EventRecord(e)'
                      TItem="ViewUserGroup">
                </Tree>
            </Overlay>
            <ChildContent>
                <Button OnClick="RemoveRecord">@ParentName</Button>
            </ChildContent>
        </Dropdown>
    </FormItem>
    <FormItem Label='数据权限'>
        <CavUserGroup DataSource="ViewUserGroups"
                      UserGroupName="@UserGroupName"
                      OnSelect="OnUserGroupSelect"
                      OnCancel="OnUserGroupCancel">
        </CavUserGroup>
    </FormItem>
    <FormItem Label='是否禁用'>
        <Switch @bind-Value='@context.IsDisable' />
    </FormItem>
    <FormItem Label='编号'>
        <Input @bind-Value='@context.Number' Style='width:53%' />
    </FormItem>
    <FormItem Label='备注'>
        <TextArea @bind-Value='@context.Remark' Style='width:53%' />
    </FormItem>
</Form>