@*
生成者：未登录用户
生成时间：2021-12-03 10:14:18
代码由代码生成器自动生成，更改的代码可能被进行替换
界面如需更改，建议直接将内容剪切到自己的文件内，保留此空白文件
{EntityDisplayName}数据操作模板
*@
@page "/SysMenu/Add"
@page "/SysMenu/Update"
@using Caviar.SharedKernel.Entities.View
@inherits DataComponentBase<SysMenuView>

<Form @ref="_meunForm" Model="@DataSource" OnFinish="FormSubmit">
    <FormItem Label='MenuName'>
        <Input @bind-Value='@context.Entity.MenuName' Style='width:50%' />
    </FormItem>
    <FormItem Label='MenuType'>
        <RadioGroup @bind-Value='@context.Entity.MenuType'>
                <Radio RadioButton Value='(MenuType)0'>目录</Radio>
                <Radio RadioButton Value='(MenuType)1'>菜单</Radio>
                <Radio RadioButton Value='(MenuType)2'>按钮</Radio>
                <Radio RadioButton Value='(MenuType)3'>API</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label='TargetType'>
        <RadioGroup @bind-Value='@context.Entity.TargetType'>
                <Radio RadioButton Value='(TargetType)0'>当前页面</Radio>
                <Radio RadioButton Value='(TargetType)1'>弹出窗口</Radio>
                <Radio RadioButton Value='(TargetType)2'>新建页面</Radio>
                <Radio RadioButton Value='(TargetType)3'>回调</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label='Url'>
        <TextArea @bind-Value='@context.Entity.Url' Style='width:53%'/>
    </FormItem>
    <FormItem Label='Icon'>
        <Input @bind-Value='@context.Entity.Icon' Style='width:50%' />
    </FormItem>
    <FormItem Label='ButtonPosition'>
        <RadioGroup @bind-Value='@context.Entity.ButtonPosition'>
                <Radio RadioButton Value='(ButtonPosition)0'>默认</Radio>
                <Radio RadioButton Value='(ButtonPosition)1'>行</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label='IsDoubleTrue'>
        <Switch @bind-Value='@context.Entity.IsDoubleTrue'/>
    </FormItem>
    <FormItem Label='Remark'>
        <TextArea @bind-Value='@context.Entity.Remark' Style='width:53%'/>
    </FormItem>
    <FormItem Label='IsDisable'>
        <Switch @bind-Value='@context.Entity.IsDisable'/>
    </FormItem>
    <FormItem Label='Number'>
        <Input @bind-Value='@context.Entity.Number' Style='width:50%' />
    </FormItem>
    <FormItem Label='DataId'>
        <AntDesign.InputNumber @bind-Value='@context.Entity.DataId' Style='width:50%'/>
    </FormItem>
</Form>