@inherits LayoutComponentBase

<Layout Style="min-height:100vh;">
    <Sider Collapsible Collapsed=@Collapsed OnCollapse=@OnCollapse NoTrigger Breakpoint="@BreakpointType.Lg"
        Style="overflow: auto; height: 100vh; position: fixed; left: 0;">
        <div class="logo" align="center">
            <img src="@LogoImgSrc" height="32" />
        </div>
        <NavMenu InlineCollapsed="@Collapsed" @bind-BreadcrumbItemNav="BreadcrumbItemNav"></NavMenu>
    </Sider>
    <Layout Class="site-layout" Style="@HeaderStyle">
        <Header Class="site-layout-background" Style="padding:0;">
            @if (Collapsed)
            {
                <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="Toggle" />
            }
            else
            {
                <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="Toggle" />
            }
            <div style="float:right;margin-right:20px;margin-top:0px">
                <NavPopover></NavPopover>
            </div>
        </Header>
        <div style="margin: 12px 16px;">
            <NavBreadcrumb BreadcrumbItemNav="@BreadcrumbItemNav"></NavBreadcrumb>
        </div>
        <Content Class="site-layout-background" Style="margin: 6px 16px;padding: 24px;min-height: 280px;">
            @Body
        </Content>
        <NavFooter></NavFooter>
    </Layout>
</Layout>
