@typeparam TData
<Button Type="primary" Style="margin-bottom:16px">
    新增
</Button>
<Table DataSource="DataSource" TItem="TData" TreeChildren="TreeChildren">
    @if (ViewModelHeader != null)
    {
        foreach (var item in ViewModelHeader)
        {
            var typeNmae = item.ModelType.ToLower();
            switch (typeNmae)
            {
                case "string":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="string" />
                    break;
                case "int32":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="int" />
                    break;
                case "boolean":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="bool">
                        @{
                            var obj = context.GetObjValue(item.TypeName);
                            if (obj != null)
                            {
                                var value = (bool)obj;
                                if (value)
                                {
                                    <Tag Color="green">是</Tag>
                                }
                                else
                                {
                                    <Tag Color="pink">否</Tag>
                                }
                            }
                        }
                    </Column>
                    break;
                case "guid":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="Guid" />
                    break;
                case "datetime":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="DateTime" />
                    break;
                case "double":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="double">
                    </Column>
                    break;
                case "float":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="float" />
                    break;
                case "short":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="short" />
                    break;
                case "byte":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="byte" />
                    break;
                case "icon":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="string">
                        @{
                            var obj = context.GetObjValue(item.TypeName);
                            if (obj != null)
                            {
                                <Icon Type="@obj.ToString()" Theme="outline"/>
                            }
                        }
                    </Column>
                    break;
                default:
                    break;
            }

        }
    }
</Table>


