@typeparam TData

<Space>
    @if (Buttons != null)
    {
        foreach (var item in Buttons)
        {
            if (item.ButtonPosition == ButtonPosition.Header)
            {
                <SpaceItem>

                    @if (item.IsDoubleTrue)
                    {
                        string title = $"确认执行{item.MenuName}吗";
                        <Popconfirm Title="@title"
                                    OkText="确认"
                                    CancelText="取消"
                                    OnConfirm="() => ButtonClick(item, default)">
                            <Button Type="@ButtonType.Primary" Danger Style="margin-bottom:16px">
                                @item.MenuName
                            </Button>
                        </Popconfirm>
                    }
                    else
                    {
                        <Button Type="@ButtonType.Primary" Style="margin-bottom:16px" OnClick="()=>ButtonClick(item,default)">
                            @item.MenuName
                        </Button>
                    }
                </SpaceItem>
            }
        }
    }
</Space>



<Table DataSource="DataSource" TItem="TData" TreeChildren="TreeChildren">
    @if (ViewModelHeader != null)
    {
        foreach (var item in ViewModelHeader)
        {
            var typeNmae = item.ModelType.ToLower();
            switch (typeNmae)
            {
                case "string":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="string" />
                    break;
                case "int32":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="int" />
                    break;
                case "boolean":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="bool">
                        @{
                            var obj = context.GetObjValue(item.TypeName);
                            if (obj != null)
                            {
                                var value = (bool)obj;
                                if (value)
                                {
                                    <Tag Color="green">是</Tag>
                                }
                                else
                                {
                                    <Tag Color="pink">否</Tag>
                                }
                            }
                        }
                    </Column>
                    break;
                case "guid":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="Guid" />
                    break;
                case "datetime":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="DateTime" />
                    break;
                case "double":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="double">
                    </Column>
                    break;
                case "float":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="float" />
                    break;
                case "short":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="short" />
                    break;
                case "byte":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="byte" />
                    break;
                case "icon":
                    <Column Title="@item.DispLayName" DataIndex="@item.TypeName" TData="string">
                        @{
                            var obj = context.GetObjValue(item.TypeName);
                            if (obj != null)
                            {
                                <Icon Type="@obj.ToString()" Theme="outline" />
                            }
                        }
                    </Column>
                    break;
                default:
                    break;
            }

        }


        <ActionColumn>
            <Space>
                @if (Buttons != null)
                {
                    foreach (var item in Buttons)
                    {
                        if (item.ButtonPosition == ButtonPosition.Row)
                        {
                            <SpaceItem>
                                @if (item.IsDoubleTrue)
                                {
                                    string title = $"确认{item.MenuName}该数据吗";
                                    <Popconfirm Title="@title"
                                                OkText="确认"
                                                CancelText="取消"
                                                OnConfirm="()=>ButtonClick(item,context)">
                                        <Button Type="@ButtonType.Primary" Danger Style="margin-bottom:16px">
                                            @item.MenuName
                                        </Button>
                                    </Popconfirm>
                                }
                                else
                                {
                                    <Button Type="@ButtonType.Primary" Style="margin-bottom:16px" OnClick="()=>ButtonClick(item,context)">
                                        @item.MenuName
                                    </Button>
                                }
                            </SpaceItem>
                        }
                    }
                }
            </Space>
        </ActionColumn>
    }
</Table>




<Modal Title="@title"
       Visible="@_visible"
       DestroyOnClose="true"
       MaskClosable="false"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Draggable="true"
       DragInViewport="true">
    @CreateDynamicComponent()
</Modal>

@code{


}