@*
生成者：
生成时间：2022-01-13 10:09:07
代码由代码生成器自动生成，更改的代码可能被进行替换
界面如需更改，建议直接将内容剪切到自己的文件内，保留此空白文件
Caviar ©2021 Created by 北音执念
{EntityDisplayName} Data Template
*@
@page "/ApplicationUser/CreateEntity"
@page "/ApplicationUser/UpdateEntity"
@inherits DataComponentBase<ApplicationUserView,ApplicationUser>

<Form @ref="_meunForm" 
    LabelColSpan="6"
    WrapperColSpan="16"
    Model="@DataSource" 
    OnFinish="FormSubmit" 
    ValidateMode="@FormValidateMode.Rules" 
    ValidateOnChange="true">
    <CavFormItem  FieldName='Remark' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.Remark' />
    </CavFormItem>
    <CavFormItem  FieldName='IsDisable' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.IsDisable'/>
    </CavFormItem>
    <CavFormItem  FieldName='Number' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.Number' />
    </CavFormItem>
    <CavFormItem  FieldName='DataId' FieldRules='@context.Entity'>
        <AntDesign.InputNumber @bind-Value='@context.Entity.DataId' Style='width:50%'/>
    </CavFormItem>
    <CavFormItem  FieldName='HeadPortrait' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.HeadPortrait' />
    </CavFormItem>
    <CavFormItem  FieldName='UserGroupId' FieldRules='@context.Entity'>
        <AntDesign.InputNumber @bind-Value='@context.Entity.UserGroupId' Style='width:50%'/>
    </CavFormItem>
    <CavFormItem  FieldName='UserName' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.UserName' />
    </CavFormItem>
    <CavFormItem  FieldName='NormalizedUserName' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.NormalizedUserName' />
    </CavFormItem>
    <CavFormItem  FieldName='Email' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.Email' />
    </CavFormItem>
    <CavFormItem  FieldName='NormalizedEmail' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.NormalizedEmail' />
    </CavFormItem>
    <CavFormItem  FieldName='EmailConfirmed' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.EmailConfirmed'/>
    </CavFormItem>
    <CavFormItem  FieldName='PasswordHash' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.PasswordHash' />
    </CavFormItem>
    <CavFormItem  FieldName='SecurityStamp' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.SecurityStamp' />
    </CavFormItem>
    <CavFormItem  FieldName='ConcurrencyStamp' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.ConcurrencyStamp' />
    </CavFormItem>
    <CavFormItem  FieldName='PhoneNumber' FieldRules='@context.Entity'>
        <Input @bind-Value='@context.Entity.PhoneNumber' />
    </CavFormItem>
    <CavFormItem  FieldName='PhoneNumberConfirmed' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.PhoneNumberConfirmed'/>
    </CavFormItem>
    <CavFormItem  FieldName='TwoFactorEnabled' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.TwoFactorEnabled'/>
    </CavFormItem>
    <CavFormItem  FieldName='LockoutEnabled' FieldRules='@context.Entity'>
        <Switch @bind-Value='@context.Entity.LockoutEnabled'/>
    </CavFormItem>
    <CavFormItem  FieldName='AccessFailedCount' FieldRules='@context.Entity'>
        <AntDesign.InputNumber @bind-Value='@context.Entity.AccessFailedCount' Style='width:50%'/>
    </CavFormItem>
</Form>