<Space>
    <SpaceItem>
        <Popover ContentTemplate="@_popoverMenu" Placement="@Placement.BottomRight">
            <Button Type="@ButtonType.Text">
                <Avatar Style="background-color: #87d068" Src="" Icon="user" />
                @userName
            </Button>
        </Popover>
    </SpaceItem>
    <SpaceItem>
        <Popover ContentTemplate="@_language" Placement="@Placement.BottomRight">
            <Button Icon="global" Type="@ButtonType.Text"></Button>
        </Popover>
    </SpaceItem>
</Space>

@code{
    [Inject]
    private AuthenticationStateProvider authenticationStateTask { get; set; }
    string userName { get; set; } = "未登录用户";
    protected override async Task OnInitializedAsync()
    {

        //var authentication = await authenticationStateTask.GetAuthenticationStateAsync();
        //if (authentication.User.Identity.IsAuthenticated)
        //{
        //    userName = authentication.User.Identity.Name;
        //}

        await base.OnInitializedAsync();
    }
    RenderFragment _popoverMenu =
    @<CavPopoverMenu></CavPopoverMenu>
    ;

    RenderFragment _language =
    @<CavLanguage></CavLanguage>
    ;

}