<Space>
    <SpaceItem>
        <Popover ContentTemplate="@_runtime" Placement="@Placement.BottomRight">
            <Button Type="@ButtonType.Text">
                <b>@Runtime</b>
            </Button>
        </Popover>
    </SpaceItem>
    <SpaceItem>
        <Popover ContentTemplate="@_popoverMenu" Placement="@Placement.BottomRight">
            <Button Type="@ButtonType.Text">
                <AuthorizeView Context="authCountext">
                    <Authorized>
                        @{
                            var Claim = authCountext.User.Claims.SingleOrDefault(u => u.Type == CurrencyConstant.HeadPortrait);
                        }
                        <Avatar Style="background-color: #87d068" Src="@Claim.Value" Icon="user" />
                        @authCountext.User.Identity.Name
                    </Authorized>
                </AuthorizeView>
            </Button>
        </Popover>
    </SpaceItem>
    <SpaceItem>
        <Popover ContentTemplate="@_language" Placement="@Placement.BottomRight">
            <Button Icon="global" Type="@ButtonType.Text"></Button>
        </Popover>
    </SpaceItem>
</Space>

@code{
    [Inject]
    private AuthenticationStateProvider authenticationStateTask { get; set; }

    RenderFragment _popoverMenu =
    @<CavPopoverMenu></CavPopoverMenu>
    ;

    RenderFragment _language =
    @<CavLanguage></CavLanguage>
    ;

    RenderFragment _runtime =
    @<CavRuntime></CavRuntime>
    ;

    private string HybridType { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }

    private string Runtime => System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier;


}
