

<InputGroup Compact>
    <SimpleSelect Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.SelectQueryFields}"]" Style="width: 50%;" @bind-Value="QueryModel.Key">
        <SelectOptions>
            @if (Fields != null)
            {
                foreach (var item in Fields)
                {
                    if (item.IsPermission && item.Entity.IsPanel && item.EntityType.ToLower() == "string")
                    {
                        <SimpleSelectOption Value="@item.Entity.FieldName" Label="@item.DisplayName"></SimpleSelectOption>
                    }
                }
            }
        </SelectOptions>
    </SimpleSelect>
    <Input DebounceMilliseconds="-1"TValue="string" @bind-Value="QueryModel.Value" Placeholder="@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.SearchData}"]"/>
    <Button OnClick="OnSearch" Type="@ButtonType.Primary" Loading="Loading">@LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.Search}"]</Button>
</InputGroup>