@page "/Code/Index"

<div>
    <Steps Current="current">
        @foreach (var item in steps)
        {
            <Step Title="@item.Title" Subtitle="@item.Content" />
        }
    </Steps>

    <div class="steps-content">
        @switch (current)
        {
            case 0:
                <Table TItem="ModelData" DataSource="@Models">
                    <Column @bind-Field="@context.Name">
                    </Column>
                    <Column @bind-Field="@context.DisplayName">
                    </Column>
                    <ActionColumn Title="操作">
                        <Space Size=@("middle")>
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" OnClick="()=> { Generate.EntityName = context.Name;Generate.OutName = context.Name ; OnNextClick(); }">选择</Button>
                            </SpaceItem>
                        </Space>
                    </ActionColumn>
                </Table>
                break;
            case 1:
                <div style="margin-bottom:16px;margin-top:16px;">
                    <Space Direction="DirectionVHType.Vertical" Size="@("large")">
                        <SpaceItem>
                            <span style="margin-right:8px">页面:</span>
                            <CheckboxGroup Value="Generate.Page" Options="@pageOptions" OnChange="OnPageChange" />
                        </SpaceItem>
                        <SpaceItem>
                            <span style="margin-right:8px">功能:</span>
                            <CheckboxGroup Value="Generate.Button" Options="@buttonOptions" OnChange="OnButtonChange" />
                        </SpaceItem>
                        <SpaceItem>
                            <span style="margin-right:8px">其他:</span>
                            <CheckboxGroup Value="Generate.Config" Options="@configOptions" OnChange="OnConfigChange" />
                        </SpaceItem>
                        <SpaceItem>
                            <AntDesign.Input Placeholder="请输入生成的文件名" @bind-Value="@Generate.OutName">
                                <AddOnBefore>目录名://</AddOnBefore>
                            </AntDesign.Input>
                        </SpaceItem>
                    </Space>
                </div>
                break;
            case 2:
                <Tabs DefaultActiveKey="1" @bind-ActiveKey="@nKey">
                    @foreach (var item in lstTabs)
                    {
                        <TabPane Key="@item.KeyName">
                            <Tab>@item.TabName</Tab>
                            <ChildContent>
                                <HighlightedCode Code="@item.Content" CanLoad="true" Language="csharp"></HighlightedCode>
                            </ChildContent>
                        </TabPane>
                    }
                </Tabs>
                break;
            case 3:
                <Result Status="success"
                        Title="代码生成完毕"
                        SubTitle="代码生效需要关闭程序重新编译运行">
                    <Extra>
                        <Button Type="primary" OnClick='()=> { navigation.NavigateTo("/"); }'>返回首页</Button>
                        <Button OnClick='()=> { current = 0; }'>继续生成</Button>
                    </Extra>

                </Result>
                break;
            default:
                break;
        }
    </div>
    <div class="steps-action">
        <Space>
            <SpaceItem>
                @if (current > 0 && current < steps.Length - 1)
                {
                    <Button Type="primary" OnClick="OnPreClick">上一步</Button>
                }
            </SpaceItem>
            <SpaceItem>
                @if (current < steps.Length - 2 && current > 0)
                {
                    <Button Type="primary" OnClick="OnNextClick">下一步</Button>
                }
            </SpaceItem>
            <SpaceItem>
                @if (current == steps.Length - 2)
                {
                    <Button Type="primary" Danger OnClick=@(() => { OnNextClick(); })>
                        生成
                    </Button>
                }

            </SpaceItem>
        </Space>



    </div>
</div>

<style>
    .steps-content {
        margin-top: 16px;
        border: 3px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        text-align: center;
    }

    .steps-action {
        margin-top: 24px;
    }
</style>

@inject NavigationManager navigation
@code {
    string Code = "";
    public class StepItem
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }

    public int current { get; set; } = 0;

    public StepItem[] steps =
    {
        new StepItem {Title = "选择生成模块", Content = ""},
        new StepItem {Title = "功能配置", Content = ""},
        new StepItem {Title = "查看代码", Content = ""},
        new StepItem {Title = "生成结果", Content = ""}
    };



}