@*
    生成者：admin
    生成时间：2021/6/16 14:24:43
    代码由代码生成器自动生成，更改的代码可能被进行替换
    界面如需更改，建议直接将内容剪切到自己的文件内，保留此空白文件
    用户组数据模板
*@
@page "/UserGroup/Add"
@page "/UserGroup/Update"
@using Caviar.Models.SystemData
@inherits DataComponentBase<ViewUserGroup>
@namespace Caviar.AntDesignPages.Pages.UserGroup

<Form @ref="_meunForm" Model="@DataSource" OnFinish="FormSubmit">
    <FormItem Label='名称'>
        <Input @bind-Value='@context.Name' Style='width:50%' />
    </FormItem>
    <FormItem Label="上层目录">
        <Dropdown>
            <Overlay>
                <Tree ShowIcon DataSource="Parents"
                      TitleExpression="x => x.DataItem.Name"
                      ChildrenExpression="x => x.DataItem.Children"
                      IsLeafExpression="x => x.DataItem.Children?.Count == 0"
                      KeyExpression="x => x.DataItem.Id.ToString()"
                      OnClick='e=>EventRecord(e)'
                      TItem="ViewUserGroup">
                </Tree>
            </Overlay>
            <ChildContent>
                <Button OnClick="RemoveRecord">@ParentName</Button>
            </ChildContent>
        </Dropdown>
    </FormItem>
    <FormItem Label='数据权限'>
        <CavUserGroup DataSource="ViewUserGroups"
                      UserGroupName="@UserGroupName"
                      OnSelect="OnUserGroupSelect"
                      OnCancel="OnUserGroupCancel">
        </CavUserGroup>
    </FormItem>
    <FormItem Label='是否禁用'>
        <Switch @bind-Value='@context.IsDisable' />
    </FormItem>
    <FormItem Label='编号'>
        <Input @bind-Value='@context.Number' Style='width:53%' />
    </FormItem>
    <FormItem Label='备注'>
        <TextArea @bind-Value='@context.Remark' Style='width:53%' />
    </FormItem>
</Form>