@inherits LayoutComponentBase
<Layout Style="min-height:100vh;">
    <Sider Collapsible CollapsedWidth="CollapsedWidth" Collapsed=@Collapsed 
           OnCollapse=@OnCollapse NoTrigger Breakpoint="@BreakpointType.Lg"
           Style="overflow: auto; height: 100vh; position: fixed; left: 0;">
        <div class="logo" align="center">
            <img src="@LogoImgSrc" height="32" />
        </div>
        <CavMenu InlineCollapsed="@Collapsed" @bind-BreadcrumbItemCav="BreadcrumbItemCav"></CavMenu>
    </Sider>
    <Layout Style="@HeaderStyle">
        <Header Style="padding:0;background:#ffffff">
            @if (Collapsed)
            {
                <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="Toggle" />
            }
            else
            {
                <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="Toggle" />
            }
            <div style="float:right;margin-right:20px;">
                <CavPopover></CavPopover>
            </div>
        </Header>
        <div style="margin: 12px 16px;">
            <CavBreadcrumb BreadcrumbItemCav="@BreadcrumbItemCav"></CavBreadcrumb>
        </div>
        <Content Style="margin: 6px 16px;padding: 24px;min-height: 280px;background:#ffffff">
            @Body
        </Content>
        <CavFooter></CavFooter>
    </Layout>
</Layout>
